# Dependencies
node_modules/

# Temporary / Archive files
*.tar.gz
*.zip

# Logs
*.log
npm-debug.log*

# OS files
Thumbs.db
desktop.ini
.DS_Store

# Editor and Agent directories
.vscode/
.idea/
.agents/

